.frame {
  padding: 25px;
  overflow: hidden;
}

.deviceWrapper {
  text-align: center;
  overflow: hidden;
}

.deviceWrapperInner {
  max-width: 375px;
  max-height: 667px;
  min-width: 375px;
  min-height: 667px;
  margin: 0 auto;
  overflow: hidden;
  border: solid 1px;
}
